<?xml version="1.0"?>
<!--
  This patch config needs to be deployed at both Sitecore CM and CD servers to access Sitecore System Fields in Sitecore XP or Sitecore XM Edge GraphQL
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
	<api>
		<GraphQL>
			<defaults>
			<content>
				<schemaProviders>
				<edgeContent>
					<templates>
					<fieldFilter>
						<exclusions hint="raw:AddFilter">
						<exclude name="__*">
							<patch:delete/>
						</exclude>
						</exclusions>
					</fieldFilter>
					</templates>
				</edgeContent>
				</schemaProviders>
			</content>
			</defaults>
		</GraphQL>
		</api>
  </sitecore>
</configuration>